/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

.page-title {
  padding: 20px 50px;
}

.w-full {
  display: flex;
  padding: 30px;
  background: #dadada;
}

.w-half {
  display: flex;
  background: #eee;
  padding: 30px;
  height: max-content;
}

.widget-wrapper {
  width: 100%;
  margin: 10px;
  background: #FAFAFA;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  padding: 20px;
  overflow-x: auto;
}
